.background-container {
  background: #f7f7f7;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .row {
    display: flex;
    justify-content: center;
    background: #fff;
    flex-direction: row;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #e8e9ed;
    position: relative;

    &:nth-of-type(1) {
      margin-top: 6.5625rem;
      @media #{$tablet} {
        flex-direction: column;
      }

      .feature-text {
        padding-right: 10.625rem;
        padding-left: 2.1875rem;
        padding-top: 5.6875rem;
        padding-bottom: 8.8125rem;
        bottom: 29%;
        left: 3%;
        @media #{$tablet} {
          padding-bottom: 2rem;
          padding-top: 1.8rem;
        }
        @media #{$mobile} {
          padding-right: 4rem;
          padding-left: 4rem;
        }

        h3 {
          font-size: 2.25rem;
          font-family: $main-font;
          padding-bottom: 1.875rem;
          line-height: 2.625rem;
        }
        p {
          font-size: 1rem;
          font-family: $secondary-font;
          line-height: 1.375rem;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 20.375rem;
            border-bottom: 0.25rem solid $red;
            bottom: -3rem;
            left: 0;
            @media #{$tablet} {
              display: none;
            }
          }
        }
      }
      .feature-image {
        padding-right: 7.3125rem;
        padding-top: 7.0625rem;
        position: relative;
        z-index: 1;
        @media #{$mobile} {
          transform: scale(0.8);
          padding-left: 0;
        }
        @media #{$tablet} {
          padding: 3rem 0 2rem 2rem;
          display: flex;
          justify-content: center;
        }

        &::after {
          content: "";
          width: 11.25rem;
          height: 11.25rem;
          background-color: $red;
          border-radius: 2.5625rem;
          position: absolute;
          bottom: 41%;
          right: 17%;
          z-index: 0;
          transform: rotate(45deg);
          @media #{$mobile} {
            right: 7%;
          }
        }
      }
    }
    &:nth-of-type(2) {
      margin-top: 2.3125rem;
      flex-direction: row-reverse;
      justify-content: space-around;

      @media #{$tablet} {
        flex-direction: column;
      }
      .feature-image {
        padding-left: 4.375rem;
        padding-top: 1.8125rem;
        position: relative;
        z-index: 1;

        @media #{$tablet} {
          width: inherit;
          display: flex;
          justify-content: center;
          padding-top: 2.5rem;
        }
        @media #{$mobile} {
          transform: scale(0.8);
          margin-left: 1rem;
          margin-right: 1rem;
        }
        &::after {
          content: "";
          width: 18.75rem;
          height: 18.75rem;
          border-radius: 50%;
          background-color: $blue;
          left: 3em;
          bottom: 3.1em;
          position: absolute;
          z-index: 0;
          @media #{$tablet} {
            left: 24%;
            bottom: 5.1em;
          }
          @media #{$mobile} {
            left: 10%;
            bottom: 5.1em;
          }
        }
      }
      .feature-text {
        padding-right: 1.25rem;
        padding-left: 12rem;
        padding-top: 4.3125rem;
        padding-bottom: 7.5625rem;
        width: 37%;
        @media #{$tablet} {
          width: inherit;
          padding-bottom: 2rem;
          padding-top: 1.8rem;
          padding-left: 2rem;
        }

        @media #{$mobile} {
          padding-right: 7rem;
          padding-left: 7rem;
        }

        h3 {
          font-size: 2.25rem;
          font-family: $main-font;
          padding-bottom: 1.875rem;
          padding-right: 2.5rem;
          line-height: 2.625rem;
        }
        p {
          font-size: 1rem;
          font-family: $secondary-font;
          line-height: 1.375rem;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 20.375rem;
            border-bottom: 0.25rem solid $blue;
            bottom: -3rem;
            left: 0%;
            @media #{$tablet} {
              display: none;
            }
          }
        }
      }
    }
    &:nth-of-type(3) {
      border: none;
      background: #f7f7f7;
      margin-top: 2.3125rem;
      margin-bottom: 6.5625rem;
      @media #{$tablet} {
        display: flex;
        flex-direction: column;
      }
      @media #{$mobile} {
      }
      .feature-image {
        padding-left: 3.894375rem;
        padding-right: 5.116875rem;
        padding-top: 6.138125rem;
        padding-bottom: 4.004375rem;
        border-radius: 0.3125rem;
        border: 0.0625rem solid #e8e9ed;
        background: $turquoise;
        @media #{$tablet} {
          display: flex;
          justify-content: center;
          padding-left: 0;
          padding-right: 0;
        }
        @media #{$mobile} {
          display: flex;
          justify-content: center;
          padding-bottom: 0rem;
          padding-top: 2rem;
        }
      }
      .feature-text {
        padding-right: 2.1275rem;
        padding-left: 2.1875rem;
        padding-top: 4.3125rem;
        padding-bottom: 7.166875rem;
        border-radius: 0.3125rem;
        border: 0.0625rem solid #e8e9ed;
        margin-right: 4.375rem;
        background: $white;
        @media #{$tablet} {
          margin-right: 0;
        }
        h3 {
          font-size: 2.25rem;
          font-family: $main-font;
          padding-bottom: 1.875rem;
          padding-right: 2.5rem;
          line-height: 2.625rem;
        }
        p {
          font-size: 1rem;
          font-family: $secondary-font;
          line-height: 1.375rem;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 20.375rem;
            border-bottom: 0.25rem solid $blue;
            bottom: -90%;
            left: 0%;
            @media #{$tablet} {
              display: none;
            }
          }
        }
      }
    }
  }
}

.mac {
  width: 24.125rem;
  height: 13.6875rem;
  z-index: 1;
  position: relative;
}
.phone {
  width: 26.625rem;
  height: 20.5rem;
  z-index: 1;
  position: relative;
}
.trumpet {
  width: 18.5rem;
  height: 13rem;
}
