.page-footer {
  background: #f7f7f7;
  box-shadow: 0rem -0.3125rem 2.5rem #00000029;
  padding: 0 2rem;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-info {
      padding: 1.53rem 0 1.0625rem 0;
      .logo {
        font-size: 1.625em;
        font-family: $main-font;
        font-weight: 300;
        color: $blue;
        line-height: 1.875rem;
      }
      .copyright {
        font-size: 0.6875rem;
        font-family: $secondary-font;
        color: $grey-light;
        line-height: 0.9375rem;
        @media #{$mobile} {
          font-size: 0.55rem;
        }
      }
    }

    img {
      padding: 0 0 0 1.25rem;
    }
  }
}
