.form {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  @media #{$tablet} {
    flex-direction: column;
    align-items: center;
    transform: scale(1.1);
    margin-top: 2rem;
  }
  @media #{$mobile} {
    transform: scale(1);
    margin-top: 4rem;
  }
  .questions {
    margin-right: 7.125rem;
    @media #{$tablet} {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
    @media #{$mobile} {
      text-align: center;
    }
    h2 {
      font-size: 3.0625rem;
      font-family: $main-font;
      line-height: 3.5625rem;
      margin-bottom: 1.375rem;
      @media #{$mobile} {
        font-size: 2.5rem;
      }
    }
    p:nth-child(2) {
      font-size: 1rem;
      font-family: $secondary-font;
      line-height: 1.375rem;
      margin-bottom: 2.5rem;
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1rem;
        font-family: $secondary-font;
        color: $grey-light;
        line-height: 1.375rem;
        font-weight: 37.5rem;
        padding-right: 1.25rem;
        padding-bottom: 1rem;
      }
      img {
        padding-right: 0.625rem;
      }
    }
  }
  form {
    max-width: 33%;
    position: relative;
    @media #{$tablet} {
      max-width: 60%;
    }
    @media #{$mobile} {
      max-width: 80%;
      margin-top: 0;
    }

    flex-direction: column;
    label {
      font-size: 0.6875rem;
      color: $blue;
      font-family: $secondary-font;
      line-height: 0.9375rem;
      letter-spacing: 0.205rem;
      font-weight: bold;
    }
    .consent {
      display: flex;
      position: relative;
      padding-left: 2.5625rem;
      flex-direction: row-reverse;
      font-size: 0.75rem;
      font-weight: normal;
      color: $grey-dark;
      line-height: 1.0625rem;
      letter-spacing: 0;
      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark:after {
          display: block;
        }
      }
      & .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $white;
        border: 0.0625rem solid $grey-mid;
        border-radius: 0.25rem;
        &:hover {
          background-color: $grey-mid;
        }
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 0.5625rem;
          top: 0.3125rem;
          width: 0.3125rem;
          height: 0.625rem;
          border: solid $blue;
          border-width: 0 0.1875rem 0.1875rem 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    input {
      display: block;
      border: 0;
      border-bottom: 0.0625rem solid black;

      &[type="text"],
      &[type="email"] {
        padding: 0.9375rem 0;
        width: 100%;
      }
      &[type="text"] {
        margin-bottom: 2.6875rem;
      }
      &[type="email"] {
        margin-bottom: 1.875rem;
      }

      &.consent-box {
        margin-right: 0.9375rem;
      }
    }
  }
  .send-button {
    padding: 1.25rem 6rem;
    background: $blue;
    border-radius: 2.2rem;
    box-shadow: 0.3125rem 0.625rem 0.875rem #07ace629;
    color: $white;
    font-size: 0.8125rem;
    font-family: $secondary-font;
    font-weight: bold;
    margin-top: 2rem;
    @media #{$tablet} {
      margin-left: 2rem;
    }
  }
}
