.banner {
  background-image: url(../assets/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 33rem;
  width: 100vw;
  @media #{$tablet} {
    background-size: cover;
  }
  @media #{$tablet} {
    height: 22rem;
  }
}

.sellMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;

  h1 {
    font-size: 3.0625rem;
    font-family: $main-font;
    line-height: 3.5rem;
    color: $black;
    padding-bottom: 1.25rem;
  }
  p {
    font-size: 1rem;
    font-family: $secondary-font;
    line-height: 1.375rem;
    color: $black;
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
  }
  a.button {
    font-size: 1rem;
    font-family: $secondary-font;
    line-height: 1.375rem;
    font-weight: bold;
    color: $white;
    padding: 1.375rem 9rem;
    background: $blue;
    border-radius: 2.5rem;

    box-shadow: 0.3rem 0.625rem 0.875rem #07ace629;
    @media #{$mobile} {
      padding: 1.375rem 5rem;
    }
  }
}
